<div class="container">
  <button mat-mini-fab color="warn" class="logout_button" (click)="onLogOut()"><mat-icon>power_settings_new</mat-icon></button>
  <mat-spinner *ngIf="!prosAndCons" color="accent"></mat-spinner>
  <div class="centered-form" *ngIf="prosAndCons">
    <div id="pros" class="half-block">
      <mat-card class="heading">
        <h2>Pro's</h2>
      </mat-card>

      <mat-card class="body">
        <mat-spinner *ngIf="inProgress"></mat-spinner>
        <div *ngIf="!inProgress">
          <mat-card *ngFor="let pro of prosAndCons.pros; let i = index" class="item" (click)="onUpPro(pro, i)">
            <span>{{ pro }}</span>
            <button mat-mini-fab color="warn" (click)="onDeletePro(i)">-</button>
            <span class="info">*click on item will activate update mode</span>
          </mat-card>
        </div>
      </mat-card>

      <mat-card class="footer">
        <form [formGroup]="formPros" (ngSubmit)="onAddPro()">
          <mat-form-field>
            <input matInput placeholder="New Pro's" formControlName="pros">
            <mat-error *ngIf="formPros.get('pros').invalid">Please input Pro's</mat-error>
          </mat-form-field>
          <button mat-mini-fab color="primary" type="submit" class="submit">+</button>
        </form>
      </mat-card>

    </div>

    <div id="cons" class="half-block">
      <mat-card class="heading">
        <h2>Con's</h2>
      </mat-card>

      <mat-card class="body">
        <mat-spinner *ngIf="inProgress"></mat-spinner>
        <div *ngIf="!inProgress">
          <mat-card *ngFor="let con of prosAndCons.cons; let i = index" class="item" (click)="onUpCon(con, i)">
            <span>{{ con }}</span>
            <button mat-mini-fab color="warn" (click)="onDeleteCon(i)">-</button>
            <span class="info">*click on item will activate update mode</span>
          </mat-card>
        </div>
      </mat-card>

      <mat-card class="footer">
        <form [formGroup]="formCons" (ngSubmit)="onAddCon()">
          <mat-form-field>
            <input matInput placeholder="New Con's" formControlName="cons">
            <mat-error *ngIf="formCons.get('cons').invalid">Please input Con's</mat-error>
          </mat-form-field>
          <button mat-mini-fab color="primary" type="submit" class="submit">+</button>
        </form>
      </mat-card>
    </div>
  </div>
</div>
